#about {
  grid-template-columns: 1fr 1fr;
  background-color: #e1e1e1;
  margin: 200px 0px;
  color: #1e1e1e;
  display: grid;
}

.introduction {
  padding: 200px 128px 0px 128px;
}

.introduction img {
  margin-bottom: 20px;
  width: 40px;
}

#portrait {
  border-bottom: 4px solid #f05180;
  filter: grayscale(100%);
  transition: 0.2s;
}

#portrait:hover {
  filter: grayscale(0%);
}

@media (max-width: 1200px) {
  .introduction {
    padding: 40px;
  }
}

@media (max-width: 900px) {
  #portrait {
    object-fit: cover;
  }

  .introduction {
    padding: 16px;
  }
}

@media (max-width: 800px) {
  #about {
    margin-bottom: 100px;
  }

  #portrait {
    grid-column: span 2;
  }

  .introduction {
    grid-column: span 2;
    padding: 100px 20px;
  }
}
