.about {
  color: var(--white);
  background-color: var(--black);
}

.about-env {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  padding: 300px 0px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tags {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: auto;
}

.tag {
  color: var(--gray);
  font-size: 0.9rem;
  border: 1px solid var(--gray);
  border-radius: 100px;
  padding: 6px 20px;
  font-weight: 200;
}

@media (max-width: 768px) {
  .about-env {
    grid-template-columns: 1fr;
    padding: 200px 20px;
  }

  .about img {
    width: 100%;
  }

  .tags {
    margin-top: 60px;
  }
}
