.album {
  color: var(--white);
  background-color: var(--black);
}

.album-env {
  height: calc(94vh);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  padding: 60px 0px;
}

.photo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  transition: 0.2s;
  border-radius: 20px;
  border: 1px solid var(--black);
}

.photo:hover {
  filter: grayscale(0%);
  border: 1px solid var(--green);
}

.p-one {
  background-image: url("../assets/images/album-img-01.jpg");
}

.p-two {
  background-image: url("../assets/images/album-img-02.jpg");
}

.p-three {
  grid-row: span 2;
  background-image: url("../assets/images/album-img-03.jpg");
}

.p-four {
  background-image: url("../assets/images/album-img-04.jpg");
}

.p-five {
  background-image: url("../assets/images/album-img-05.jpg");
}

.p-six {
  grid-row: span 2;
  grid-column: span 2;
  background-image: url("../assets/images/album-img-06.jpg");
}

.p-seven {
  background-image: url("../assets/images/album-img-07.jpg");
}

.p-eight {
  background-image: url("../assets/images/album-img-08.jpg");
}

.p-nine {
  background-image: url("../assets/images/album-img-09.jpg");
}

.p-ten {
  grid-column: span 2;
  background-image: url("../assets/images/album-img-10.jpg");
}

@media (max-width: 768px) {
  .album-env {
    height: calc(120vh);
    padding: 60px 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }

  .photo {
    border-radius: 10px;
  }

  .p-two,
  .p-one {
    grid-column: span 2;
  }

  .p-six {
    grid-row: span 1;
  }

  .p-three,
  .p-four,
  .p-five,
  .p-seven,
  .p-eight,
  .p-nine {
    display: none;
  }
}
