.education {
  padding: 500px 0px 300px;
}

.education-title {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.education-title img {
  width: 65%;
}

.education h1 {
  text-align: right;
}

.education-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px 60px;
  padding: 200px 0px;
  align-items: start;
}

.box-education {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.wrap-subtopics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.wrap-subtopics hr {
  flex: 1;
  border: none;
  border-top: 1px solid var(--gray);
}

.wrap-education h6 {
  margin: 6px 0px;
}

@media (max-width: 768px) {
  .education {
    padding: 200px 20px;
  }

  .education-content {
    grid-template-columns: 1fr;
    gap: 60px 0px;
    padding: 100px 0px;
    align-items: start;
  }

  .education-title img {
    display: none;
  }

  .wrap-subtopics {
    gap: 20px;
  }
}
