.education {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-bottom: 80vh;
  position: relative;
}

.education-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
  width: 70%;
}

.education-box {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 60px;
}

.education-box h6 {
  margin: 10px 0px;
}

.education-box li {
  width: 26vw;
  margin-bottom: 50px;
  position: relative;
  padding-left: 100px;
}

.education-box li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 12px;
  height: 12px;
  background-color: white;
}

.education h1 {
  z-index: 2;
  position: relative;
}

.education-gradient {
  position: absolute;
  z-index: 1;
  top: -40vh;
  left: -60vh;
  width: 120vh;
}

@media (max-width: 1000px) {
  .education-container {
    margin-top: 150px;
    width: 80%;
  }

  .education-box li {
    padding-left: 40px;
  }
}

@media (max-width: 800px) {
  .education-container {
    margin-top: 150px;
    width: 90%;
  }

  .education-box li {
    padding-left: 20px;
  }

  .education-box li::before {
    width: 8px;
    height: 8px;
  }

  .education h3 {
    font-size: 16px;
    margin-top: 10px;
  }

  .education-gradient {
    top: -10%;
    left: -50%;
  }
}
