.experience-env {
  padding: 300px 0px;
}

.experience-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px 60px;
  padding: 200px 0px;
}

.experience-link {
  height: 45px;
  width: 70px;
  border-radius: 100px;
  border: 1px solid var(--black);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.experience-link:hover {
  background-color: var(--green);
  transition: 0.2s;
}

.experience-button {
  display: flex;
  width: 100%;
  justify-content: end;
}

.experience-env h6 {
  margin-top: 6px;
  margin-bottom: 20px;
}

.experience {
  background-image: url("../assets/images/experience-img-01.svg");
  background-repeat: no-repeat;
  background-position: -40%;
}

@media (max-width: 768px) {
  .experience {
    background-image: none;
  }

  .experience-env {
    padding: 200px 20px;
  }

  .experience-content {
    grid-template-columns: 1fr;
    gap: 80px;
    padding: 100px 0px 0px;
  }

  .experience-button {
    display: none;
  }
}
