#experience {
  grid-template-columns: 1fr 1fr;
  margin-right: auto;
  margin-left: auto;
  max-width: 1160px;
  display: grid;
  padding: 20px;
  gap: 64px;
}

#experience h2 {
  grid-column: span 2;
}

.content {
  background-color: #161616;
  border-radius: 4px;
  padding: 52px;
}

.content hr {
  border: 1px solid #1e1e1e;
  margin: -20px 0px 20px 0px;
}

.content img {
  border-radius: 4px;
  margin-top: 40px;
}

.content a {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  background-color: #f05180;
  margin: -52px 0px 0px 16px;
  display: inline-block;
  position: absolute;
  padding: 8px 16px;
  color: #340010;
}

.content a:hover {
  background-color: #340010;
  color: #ffc5da;
}

@media (max-width: 1000px) {
  #experience {
    gap: 32px;
    padding: 32px;
  }
}

@media (max-width: 700px) {
  .content {
    grid-column: span 2;
  }

  #experience h2 {
    text-align: center;
  }
}
