.experience {
  max-width: 1200px;
  margin: 300px auto;
  text-align: center;
  position: relative;
  align-items: center;
  justify-content: center;
}

.experience-title {
  margin: 160px 0px;
}

.img {
  border-radius: 4px;
  height: 100%;
}

.experience-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  text-align: left;
  gap: 160px 0px;
}

.frame-title {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.experience ul {
  padding: 40px 60px;
  list-style-image: url("../assets/list.svg");
}

.experience li {
  padding: 6px;
}

.experience button {
  margin-left: 40px;
}

.container-img {
  display: flex;
  justify-content: center;
}
