.experience {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-bottom: 140vh;
  position: relative;
}

.experience-container {
  width: 60%;
  float: right;
}

.experience-box {
  display: flex;
  margin: 20px 0px 100px;
}

.experience h1 {
  margin-bottom: 200px;
  z-index: 40;
  position: relative;
}

.experience hr {
  width: 150%;
}
.experience h6 {
  margin-top: 5px;
}

.experience p {
  text-align: right;
}

.experience-box-link {
  background-color: transparent;
  color: inherit;
  border: solid #f4f0ed 2px;
  border-radius: 50px;
  padding: 4px 6px;
  cursor: pointer;
  margin-right: 8vw;
  transition: 0.2s;
}

.experience-box-link:hover {
  background-color: #f4f0ed;
}

.experience-box-envelop {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.experience-gradient {
  position: absolute;
  z-index: 30;
  top: -40%;
  left: -33%;
  width: 120vh;
}

.experience-box-link:hover svg path {
  stroke: #101010;
  stroke-width: 1;
}

@media (max-width: 1350px) {
  .experience-container {
    width: 70%;
  }
  .experience-box-link {
    margin-right: 6vw;
  }
}

@media (max-width: 1100px) {
  .experience-container {
    width: 90%;
  }
  .experience-gradient {
    left: -45%;
  }
}

@media (max-width: 800px) {
  .experience hr {
    width: calc(100%);
  }

  .experience {
    margin-bottom: 40vh;
  }

  .experience-container {
    width: 100%;
  }
  .experience-box-envelop {
    flex-direction: column;
  }

  .experience p {
    text-align: left;
    margin-top: 30px;
  }

  .experience-box {
    justify-content: center;
    align-items: center;
  }

  .experience-box-link {
    width: 60px;
    margin-bottom: 30px;
  }

  .experience-gradient {
    left: -55%;
    top: -25%;
  }
}

.escpecial-container-space {
  height: 4px;
}
