footer {
  color: var(--white);
  background-color: var(--black);
}

.footer-env {
  display: flex;
  gap: 20px;
  padding: 100px;
}

.footer-env img {
  margin-top: -100px;
  height: 400px;
}

.footer-env .std-button {
  margin-right: 20px;
}

footer h1 {
  margin: 0px 60px 60px 0px;
}

footer h6 {
  padding: 20px;
  text-align: center;
  border-top: 1px solid var(--gray);
}

.contact-icons {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icon {
  background-color: transparent;
  border: 1px solid var(--black);
  border-radius: 100px;
  padding: 8px 10px 6px 10px;
  transition: 0.2s;
}

.icon:hover {
  border: 1px solid var(--green);
  transition: 0.2s;
}

@media (max-width: 768px) {
  .footer-env {
    flex-direction: column;
    gap: 60px;
    padding: 60px 20px;
  }

  .footer-env img {
    display: none;
  }

  footer h1 {
    margin: 0px 0px 20px 0px;
  }

  .wrap-footer a {
    display: inline-block;
    margin-bottom: 20px;
  }

  .contact-icons {
    flex-direction: row;
    margin-left: 0px;
    justify-content: center;
  }
}
