.contact {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.contact h1 {
  margin-bottom: 80px;
  line-height: 1;
}

.contact button {
  margin-right: 20px;
}

.contact-container {
  padding: 60px 20px;
}

.contact-information {
  width: 10%;
  border-left: solid #f4f0ed 3px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 40px;
  justify-content: center;
}

.contact-information a {
  cursor: pointer;
}

.contact-information a:hover svg path {
  fill: #0bd875;
}

.footer-title {
  text-align: center;
  padding: 20px;
}

@media (max-width: 800px) {
  .contact-information {
    padding: 0 20px;
    width: 6%;
  }

  .contact-container {
    padding: 40px 0px;
  }

  .contact button {
    margin-bottom: 20px;
  }
}
