.formation {
  max-width: 1120px;
  margin: 400px auto;
  text-align: center;
  position: relative;
  align-items: center;
  justify-content: center;
}

.formation .frame-title {
  position: absolute;
  top: 14px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -3;
}

.formation-title {
  padding: 0px !important;
}
.formation h2 {
  padding-left: 50px;
}

.formation-grid {
  margin: 140px 0px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  gap: 60px;
  padding: 20px;
}

.cont {
  background-color: #313131;
  border-radius: 20px;
  padding: 40px 40px 60px;
  text-align: left;
  position: relative;
}

.language p {
  margin: 40px 0px 10px;
}

.parameter-container {
  position: relative;
}

.parameter {
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: #f4f0ed;
  z-index: 8;
  border-radius: 10px;
}

.parameter-purple {
  position: absolute;
  height: 10px;
  background-color: #cd71fe;
  z-index: 9;
  border-radius: 10px;
}

.portuguese {
  width: 100%;
}

.english {
  width: 90%;
}

.spanish {
  width: 40%;
}

.language {
  margin-bottom: 20px;
}

.language h2::before {
  content: "";
  position: absolute;
  left: 40px;
  top: 42px;
  width: 34px;
  height: 26px;
  background-image: url("../assets/arrow-formation.svg");
  background-size: cover;
}

.formation-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.skills h2::before {
  content: "";
  position: absolute;
  left: 40px;
  top: 42px;
  width: 34px;
  height: 26px;
  background-image: url("../assets/arrow-formation.svg");
  background-size: cover;
}

.skills-icons {
  margin-top: 40px;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.skills-icons img {
  height: 44px;
  margin-bottom: 10px;
}

.skill-icons-content {
  text-align: center;
}

.skill-icons-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 40px;
}

.timeline h3 {
  text-align: right;
}

.timeline p {
  text-align: left;
}

.timeline-span {
  opacity: 50%;
  margin-bottom: 6px;
}

@media (max-width: 900px) {
  .formation-grid {
    gap: 40px;
  }

  .skills-icons {
    gap: 20px;
  }
}

@media (max-width: 800px) {
  .formation-grid {
    grid-template-columns: 1fr;
  }

  .formation-grid {
    gap: 80px;
  }
}
