.formation {
  grid-template-columns: 1fr 1fr;
  background-color: #161616;
  margin-top: 200px;
  column-gap: 40px;
  padding: 128px 100px;
  display: grid;
  row-gap: 0px;
}

.formation h2 {
  grid-column: span 2;
  text-align: end;
}

.formation p {
  padding: 4px 22px;
  color: #c3c3c3;
}

.box {
  margin: 64px 0px 32px 0px;
  align-items: center;
  display: flex;
  gap: 8px;
}

.box hr {
  flex: 1;
  border: none;
  border-top: 2px solid #1e1e1e;
  margin-top: 0;
  margin-bottom: 0;
}

.box img {
  width: 16px;
}

.container {
  justify-content: space-between;
  display: flex;
}

.course-hour {
  text-align: right;
}

.icons-container {
  display: flex;
  gap: 80px 40px;
  flex-wrap: wrap;
  justify-content: center;
  place-content: center;
  padding: 100px;
}

.icons-container img {
  height: 90px;
}

@media (max-width: 1200px) {
  .icons-container {
    padding: 20px;
    gap: 40px;
  }
}

@media (max-width: 800px) {
  .formation {
    padding: 40px;
  }

  .formation-content {
    grid-column: span 2;
    max-width: 400px;
    word-wrap: break-word;
  }

  .icons-container {
    width: 300px;
    margin: 32px;
  }

  .formation h2 {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .formation p {
    font-size: 0.8rem;
  }
}
