.gallery {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 60vh;
}

.gallery-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  transition: 0.2s;
}

.gallery-image:hover {
  filter: grayscale(0%);
}

.one {
  background-image: url("/assets/grid-photo.png");
}

.three {
  grid-row: span 2;
  background-image: url("/assets/grid-london.jpg");
}

.five {
  background-image: url("/assets/grid-museum.jpg");
}

.seven {
  background-image: url("/assets/grid-polen.jpg");
}

.six {
  grid-column: span 2;
  background-image: url("/assets/grid-reuni.jpg");
  grid-row: span 2;
}

.ten {
  grid-column: span 2;
  background-image: url("/assets/grid-techday.jpg");
}

@media (max-width: 800px) {
  .gallery {
    height: 30vh;
    margin-bottom: 0vh;
    gap: 2px;
  }
}
