.gallery {
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 240px 20px;
}

.gallery img {
  border-radius: 4px;
  filter: grayscale(100%);
  transition: 0.2s;
}

.gallery img:hover {
  filter: grayscale(0%);
}

#one {
  grid-row: span 2;
}

#two {
  grid-column: span 2;
}
