.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 40px);
  padding-top: 40px;
}

.hero button {
  background-color: transparent;
  border: none;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin-bottom: 100px;
}

.hero-content img {
  border-radius: 100px;
  border: 1px solid var(--black);
  height: 80px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
}

#header-icon {
  position: relative;
}

#header-icon::after {
  content: "LET'S CONNECT";
  font-weight: 300;
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  white-space: nowrap;
  font-size: 0.9rem;
}

#header-icon:hover::after {
  opacity: 1;
}

.line-01,
.line-02,
.line-04 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.line-03 {
  padding: 11px 0px;
}

#menu {
  display: none;
  position: absolute;
  margin-top: 60px;
  z-index: 1000;
  list-style: none;
  margin-left: -52px;
  transition: 0.6s;
}

#nav.active #menu {
  display: block;
}

#menu li {
  text-align: right;
  padding: 12px 0px;
  transition: 0.2s;
  font-weight: 200;
}

#menu li:hover {
  color: var(--purple);
  transition: 0.2s;
}

#hamburguer {
  width: 24px;
  border-top: 1px solid var(--black);
  display: block;
}

#hamburguer::after,
#hamburguer::before {
  content: "";
  display: block;
  width: 24px;
  height: 1px;
  background-color: var(--black);
  margin-top: 6px;
  transition: 0.4s;
  position: relative;
}

#nav.active #hamburguer {
  border-top-color: transparent;
}

#nav.active #hamburguer::before {
  transform: rotate(135deg);
}

#nav.active #hamburguer::after {
  transform: rotate(-135deg);
  top: -7px;
}

@media (max-width: 768px) {
  .hero {
    padding: 20px;
  }

  .hero h2 {
    font-size: 1.5rem;
  }

  .hero img {
    display: none;
  }

  .line-03 {
    padding: 0px;
  }

  #menu {
    margin-top: 10px;
  }

  #menu li {
    padding: 6px;
  }
}
