.home {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1160px;
}

#header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 20px;
  gap: 16px;
}

#menu {
  display: flex;
  gap: 52px;
}

#menu a {
  display: inline-block;
  font-weight: normal;
  padding: 16px 0px;
}

#menu a:hover {
  color: #f05180;
}

#mobile {
  display: none;
}

#logo {
  width: 52px;
}

#title {
  animation: blink-caret 0.75s infinite;
  border-right: 16px solid #e1e1e1;
  display: inline-block;
  white-space: nowrap;
  font-weight: bold;
  margin: 18vh 0vh;
  font-size: 9vw;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #e1e1e1;
  }
}

.button {
  background-color: #f05180;
  display: inline-block;
  padding: 16px 32px;
  color: #340010;
  margin-top: 20px;
}

.button:hover {
  background-color: #340010;
  color: #ffc5da;
}

@media (max-width: 600px) {
  #header {
    background-color: #161616;
  }

  #mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-family: inherit;
    font-size: 16px;
    border: none;
    background-color: #161616;
    color: #e1e1e1;
    cursor: pointer;
    border: 4px;
  }

  #mobile:hover {
    background-color: #1e1e1e;
  }

  #hamburguer {
    height: 18px;
    margin-left: 16px;
  }

  #menu {
    display: none;
    position: absolute;
    width: 100%;
    right: 0;
    top: 60px;
    background-color: #161616;
    height: 100vh;
  }

  #menu a {
    padding: 20px;
    border-bottom: 2px solid #1e1e1e;
  }

  #nav.active #menu {
    display: block;
  }

  #title {
    border-right: 8px solid #e1e1e1;
  }
}
