.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100vh;
  gap: 10px;
  margin-bottom: 80vh;
}

.projects-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 0.2s;
}

.projects-image:hover {
  filter: grayscale(0%);
  opacity: 80%;
}

.reuni {
  background-image: url("/assets/display-reuni.png");
}

.baroque {
  background-image: url("/assets/display-baroque.png");
}

.inovamente {
  background-image: url("/assets/display-inovamente.png");
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 60px;
}
