.project-content {
  color: var(--white);
  background-color: var(--black);
  background-image: url("../assets/images/project-img-01.svg");
  background-size: 700px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 50px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  gap: 20px;
}

@media (max-width: 768px) {
  .project {
    padding: 20px;
  }

  .project-content {
    text-align: center;
    flex-direction: column;
    padding: 40px 20px;
    background-image: none;
  }
}
