.skills {
  padding: 200px 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1060px;
}

.skills h2 {
  margin-bottom: 64px;
  text-align: center;
}

.skills-container {
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
  display: flex;
}

.skills-container img {
  padding: 8px;
  height: 80px;
}

@media (max-width: 700px) {
  .skills-container img {
    padding: 16px;
    height: 90px;
  }
}
